html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth !important;
}

.h-red {
  fill: #fa64007a;
  fill-opacity: 0.3;
  mix-blend-mode: multiply;
}

.h-orange {
  fill: #ffc653a1;
  fill-opacity: 0.3;
  mix-blend-mode: multiply;
}

.h-blue {
  fill: #0091ff79;
  fill-opacity: 0.3;
  mix-blend-mode: multiply;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

p {
  margin: 0;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.m-0 {
  margin: 0;
}

.mr-0 {
  margin-right: 0;
}

.ml-0 {
  margin-left: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-1 {
  margin: 5px;
}

.mr-1 {
  margin-right: 5px;
}

.ml-1 {
  margin-left: 5px;
}

.mt-1 {
  margin-top: 5px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mx-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m-2 {
  margin: 10px;
}

.mr-2 {
  margin-right: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.mt-2 {
  margin-top: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mx-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-3 {
  margin: 15px;
}

.mr-3 {
  margin-right: 15px;
}

.ml-3 {
  margin-left: 15px;
}

.mt-3 {
  margin-top: 15px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mx-3 {
  margin-left: 15px;
  margin-right: 15px;
}

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-4 {
  margin: 20px;
}

.mr-4 {
  margin-right: 20px;
}

.ml-4 {
  margin-left: 20px;
}

.mt-4 {
  margin-top: 20px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-5 {
  margin: 24px;
}

.mr-5 {
  margin-right: 24px;
}

.ml-5 {
  margin-left: 24px;
}

.mt-5 {
  margin-top: 24px;
}

.mb-5 {
  margin-bottom: 24px;
}

.mx-5 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-5 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.m-6 {
  margin: 30px;
}

.mr-6 {
  margin-right: 30px;
}

.ml-6 {
  margin-left: 30px;
}

.mt-6 {
  margin-top: 30px;
}

.mb-6 {
  margin-bottom: 30px;
}

.mx-6 {
  margin-left: 30px;
  margin-right: 30px;
}

.my-6 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.m-auto {
  margin: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding: 5px;
}

.pt-1 {
  padding-top: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.pr-1 {
  padding-right: 5px;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-2 {
  padding: 10px;
}

.pt-2 {
  padding-top: 10px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pl-2 {
  padding-left: 10px;
}

.pr-2 {
  padding-right: 10px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-3 {
  padding: 15px;
}

.pt-3 {
  padding-top: 15px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pl-3 {
  padding-left: 15px;
}

.pr-3 {
  padding-right: 15px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-4 {
  padding: 20px;
}

.pt-4 {
  padding-top: 20px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pl-4 {
  padding-left: 20px;
}

.pr-4 {
  padding-right: 20px;
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-5 {
  padding: 24px;
}

.pt-5 {
  padding-top: 24px;
}

.pb-5 {
  padding-bottom: 24px;
}

.pl-5 {
  padding-left: 24px;
}

.pr-5 {
  padding-right: 24px;
}

.px-5 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-5 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.p-6 {
  padding: 30px;
}

.pt-6 {
  padding-top: 30px;
}

.pb-6 {
  padding-bottom: 30px;
}

.pl-6 {
  padding-left: 30px;
}

.pr-6 {
  padding-right: 30px;
}

.px-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

#reader-view,
#reader-view-hidden {
  width: 100vw;
  height: calc(100vh - 57px);
  padding-bottom: 20px;
}

#top-menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#top-menu-bar.light {
  background-color: #fff;
}

#top-menu-bar.brown {
  background-color: #e7d6bc;
}

#top-menu-bar.green {
  background-color: #ccf1d0;
}

#top-menu-bar.purple {
  background-color: #f9ecfd;
}

#top-menu-bar.dark {
  background-color: #000;
  color: #fff;
}

#top-menu-bar button {
  background-color: transparent;
  outline: none;
  border: none;
}

#top-menu-bar button img {
  width: 25px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#bottom-menu-bar {
  padding: 15px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#bottom-menu-bar.light {
  background-color: #fff;
}

#bottom-menu-bar.brown {
  background-color: #e7d6bc;
}

#bottom-menu-bar.green {
  background-color: #ccf1d0;
}

#bottom-menu-bar.purple {
  background-color: #f9ecfd;
}

#bottom-menu-bar.dark {
  background-color: #000;
  color: #fff;
}

#bottom-menu-bar input {
  width: 90%;
}

.slider {
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-radius: 25px;
}

#book-meta-content {
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999;
  display: none;
}

#book-meta-content .content {
  padding: 20px;
  overflow-y: scroll;
  height: 100%;
}

#book-meta-content .content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#book-meta-content .content .item p {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

#book-meta-content .content .item img {
  margin-left: auto;
  width: 8px;
}

.overlay {
  background-color: #0009;
  height: 100vh;
  width: 100vw;
  z-index: 99998;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

#book-theme {
  padding: 20px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
  background-color: #fff;
}

#book-theme .item {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

#book-theme .item.light {
  background-color: #fff;
  border: 1px solid #000;
}

#book-theme .item.brown {
  background-color: #e7d6bc;
}

#book-theme .item.green {
  background-color: #ccf1d0;
}

#book-theme .item.purple {
  background-color: #f9ecfd;
}

#book-theme .item.dark {
  background-color: #000;
}

.font-sizer {
  padding: 20px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
  background-color: #fff;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ranger-custom {
  margin-bottom: -20px;
}

.ranger-custom input[type="range"] {
  -webkit-appearance: none;
  display: block;
  margin: 0;
  width: 100%;
  background: transparent;
}

.ranger-custom input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  color: transparent;
  background: lightgray;
  border-radius: 999px;
  z-index: 2;
  border: none;
}

.ranger-custom input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  color: transparent;
  background: lightgray;
  border-radius: 999px;
  z-index: 2;
  border: none;
}

.ranger-custom input[type="range"]::-ms-track {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  color: transparent;
  background: lightgray;
  border-radius: 999px;
  z-index: 2;
  border: none;
}

.ranger-custom input[type="range"]::-ms-fill-lower {
  display: none;
}

.ranger-custom input[type="range"]::-ms-fill-upper {
  display: none;
}

.ranger-custom input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 30px;
  background: #0957ff;
  border: 5px solid #fff;
  -webkit-filter: drop-shadow(0 0 5px #ccc);
          filter: drop-shadow(0 0 5px #ccc);
  margin-top: -10px;
  z-index: 3;
}

.ranger-custom input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 30px;
  background: #0957ff;
  border: 5px solid #fff;
  filter: drop-shadow(0 0 5px #ccc);
  margin-top: -10px;
  z-index: 3;
}

.ranger-custom input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 30px;
  background: #0957ff;
  border: 5px solid #fff;
  filter: drop-shadow(0 0 5px #ccc);
  margin-top: -10px;
  z-index: 3;
}

.ranger-custom .ticks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  margin-top: -12px;
  z-index: 1;
}

.ranger-custom .tick {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2px;
  background: lightgray;
  height: 12px;
  margin-bottom: 10px;
}

.book-info {
  padding: 15px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e5e8ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-info img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.book-info .book-desc {
  margin-left: 15px;
}

.book-info .book-desc .title {
  font-size: 16px;
  margin-bottom: 5px;
  color: #1b1b1b;
}

.book-info .book-desc .subtitle {
  color: #9c9c9c;
  font-size: 14px;
  margin-right: 20px;
}

.highlight {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  padding: 20px;
  background-color: #fff;
  -webkit-filter: drop-shadow(0 0 5px #ccc);
          filter: drop-shadow(0 0 5px #ccc);
  border-radius: 5px;
  visibility: hidden;
}

.highlight .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #e5e8ef;
}

.highlight .colors div {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.highlight .colors .red {
  background-color: #fa6400;
}

.highlight .colors .orange {
  background-color: #ffc553;
}

.highlight .colors .blue {
  background-color: #0091ff;
}
/*# sourceMappingURL=style.css.map */